{% extends 'blog/main.html' %}
{% block main_section %}
    {% for post in news %}
        <div class="alert alert-light">
            <h1>{{ post.title }}</h1>
            <p>{{ post.text }}</p>
            <span class="text-muted"><b>Дата:</b> {{ post.date | date:'j F Y, время: H:i:s' }}</span>
            {% if post.avtor %}
                <p><b>Автор:</b> {{ post.avtor }}<p>
            {% else %}
                <p><b>Автор:</b> Админ</p>
            {% endif %}
        </div>
            {% endfor %}
{% endblock main_section %}

{% block aside_news_section %}

    <h3>10 фильмов и сериалов для программистов</h3>
    <img src="https://dvlog.ru/education_for_school/images/1cprog.jpg" class="img-thumbnail mb-1">
    <p>Когда становишься на путь программирования очень хочется посмотреть какие- либо фильмы и сериалы на эту тематикую Представляем вам подборку из 10 фильмов для программистов </p>
    <a href="https://itproger.com/news/1" target="_blank">
        <button class="btn btn-warning">Посмотреть</button>
    <a/>

{% endblock aside_news_section %}






